# Task to be performed
Deleting redundant columns.
Drop duplicates.
Remove the Nan values from the dataset
Cleaning individual columns
Check for some more transformations

In [80]:
import pandas as pd

In [91]:
data = pd.read_csv("zomato.csv")  #Loading dataset into dataframe

In [92]:
data.head(5)

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [93]:
print(data.info())
print(data.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          51717 non-null  object
 1   address                      51717 non-null  object
 2   name                         51717 non-null  object
 3   online_order                 51717 non-null  object
 4   book_table                   51717 non-null  object
 5   rate                         43942 non-null  object
 6   votes                        51717 non-null  int64
 7   phone                        50509 non-null  object
 8   location                     51696 non-null  object
 9   rest_type                    51490 non-null  object
 10  dish_liked                   23639 non-null  object
 11  cuisines                     51672 non-null  object
 12  approx_cost(for two people)  51371 non-null  object
 13  reviews_list                 51717 non-null  object
 14  menu_item                    51717 non-null  object
 15  listed_in(type)              51717 non-null  object
 16  listed_in(city)              51717 non-null  object
dtypes: int64(1), object(16)
memory usage: 6.7+ MB
None
(51717, 17)

# Getting Column names

In [94]:
print(data.columns)

Index(['url', 'address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'phone', 'location', 'rest_type', 'dish_liked', 'cuisines',
       'approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

# Renaming column (removing ())

In [95]:
data.columns = data.columns.str.replace(r"[(]","_",regex = True).str.replace(r"[)]","",regex =True).str.replace(" ","_")
data.columns = data.columns.str.upper()
print(data.columns)

Index(['URL', 'ADDRESS', 'NAME', 'ONLINE_ORDER', 'BOOK_TABLE', 'RATE', 'VOTES',
       'PHONE', 'LOCATION', 'REST_TYPE', 'DISH_LIKED', 'CUISINES',
       'APPROX_COST_FOR_TWO_PEOPLE', 'REVIEWS_LIST', 'MENU_ITEM',
       'LISTED_IN_TYPE', 'LISTED_IN_CITY'],
      dtype='object')

# Data Filtaration

In [96]:
columns_to_keep = [ 'NAME', 'ONLINE_ORDER', 'BOOK_TABLE', 'RATE','DISH_LIKED','APPROX_COST_FOR_TWO_PEOPLE']
columns_to_drop = [col for col in data.columns if col not in columns_to_keep]
print(f"Number of columns_to_keep : {len(columns_to_keep)} \nNumber of columns_to_drop : {len(columns_to_drop)}")

Number of columns_to_keep : 6
Number of columns_to_drop : 11

# 1st way of columns filtaration

In [97]:
filtered_data1 = data[columns_to_keep]
filtered_data1.head(3)

,NAME,ONLINE_ORDER,BOOK_TABLE,RATE,DISH_LIKED,APPROX_COST_FOR_TWO_PEOPLE
0,Jalsa,Yes,Yes,4.1/5,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...",800
1,Spice Elephant,Yes,No,4.1/5,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...",800
2,San Churro Cafe,Yes,No,3.8/5,"Churros, Cannelloni, Minestrone Soup, Hot Choc...",800

# 2nd way for filteration:  Dropping columns

In [98]:
filtered_data2 = data.drop(columns = columns_to_drop)
filtered_data2.head(3)

,NAME,ONLINE_ORDER,BOOK_TABLE,RATE,DISH_LIKED,APPROX_COST_FOR_TWO_PEOPLE
0,Jalsa,Yes,Yes,4.1/5,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...",800
1,Spice Elephant,Yes,No,4.1/5,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...",800
2,San Churro Cafe,Yes,No,3.8/5,"Churros, Cannelloni, Minestrone Soup, Hot Choc...",800

# Data cleaning Operations

In [99]:
data['RATE']  # we need to clean it because we want only numarator i.r actual rating not total i.e '/5'

0         4.1/5
1         4.1/5
2         3.8/5
3         3.7/5
4         3.8/5
          ...
51712    3.6 /5
51713       NaN
51714       NaN
51715    4.3 /5
51716    3.4 /5
Name: RATE, Length: 51717, dtype: object

In [108]:
data['RATE'] = data['RATE'].str.replace(r" ","",regex =True)..str.replace(r"/5","",regex =True)
print(data['RATE'])

0        4.15
1        4.15
2        3.85
3        3.75
4        3.85
         ...
51712    3.65
51713     NaN
51714     NaN
51715    4.35
51716    3.45
Name: RATE, Length: 51717, dtype: object

# Cleaning Null values

# Counting null values in each columns

In [55]:

print(data.isna().sum())

URL                               0
ADDRESS                           0
NAME                              0
ONLINE_ORDER                      0
BOOK_TABLE                        0
RATE                              0
VOTES                             0
PHONE                          1208
LOCATION                         21
REST_TYPE                       227
DISH_LIKED                    28078
CUISINES                         45
APPROX_COST_FOR_TWO_PEOPLE      346
REVIEWS_LIST                      0
MENU_ITEM                         0
LISTED_IN_TYPE                    0
LISTED_IN_CITY                    0
dtype: int64

In [22]:
# now replace NAN values with the mean and rounding it only 1 decimal value
data['rate'] = pd.to_numeric(data['rate'],errors = 'coerce')
data['rate'] = data['rate'].fillna(data['rate'].mean()).round(1)
print(data['rate'])

0        4.1
1        4.1
2        3.8
3        3.7
4        3.8
        ...
51712    3.6
51713    3.7
51714    3.7
51715    4.3
51716    3.4
Name: rate, Length: 51717, dtype: float64

In [65]:
# Here cant directly use dropna() because it can loos valueable data so ww will fillna()
data['PHONE'] = data['PHONE'].fillna("Unknown") # Filling Nan phone number with unknown
data['DISH_LIKED'] = data['DISH_LIKED'].fillna("Not known")
data['CUISINES'] = data['DISH_LIKED'].fillna("Not known")
data['LOCATION'] = data['LOCATION'].fillna("Not available")
data['REST_TYPE'] = data['REST_TYPE'].fillna("Not known")

In [66]:
data['APPROX_COST_FOR_TWO_PEOPLE']

0          800
1          800
2          800
3          300
4          600
         ...
51712    1,500
51713      600
51714    2,000
51715    2,500
51716    1,500
Name: APPROX_COST_FOR_TWO_PEOPLE, Length: 51717, dtype: object

In [73]:
data['APPROX_COST_FOR_TWO_PEOPLE'] = data['APPROX_COST_FOR_TWO_PEOPLE'].str.replace(",","").str.replace(" ","").astype(float)
data['APPROX_COST_FOR_TWO_PEOPLE']

0         800.0
1         800.0
2         800.0
3         300.0
4         600.0
          ...
51712    1500.0
51713     600.0
51714    2000.0
51715    2500.0
51716    1500.0
Name: APPROX_COST_FOR_TWO_PEOPLE, Length: 51717, dtype: float64

In [77]:
data['APPROX_COST_FOR_TWO_PEOPLE'] = data['APPROX_COST_FOR_TWO_PEOPLE'].fillna(data['APPROX_COST_FOR_TWO_PEOPLE'].median())
data['APPROX_COST_FOR_TWO_PEOPLE']

0         800.0
1         800.0
2         800.0
3         300.0
4         600.0
          ...
51712    1500.0
51713     600.0
51714    2000.0
51715    2500.0
51716    1500.0
Name: APPROX_COST_FOR_TWO_PEOPLE, Length: 51717, dtype: float64

In [78]:
data.isna().sum()

URL                           0
ADDRESS                       0
NAME                          0
ONLINE_ORDER                  0
BOOK_TABLE                    0
RATE                          0
VOTES                         0
PHONE                         0
LOCATION                      0
REST_TYPE                     0
DISH_LIKED                    0
CUISINES                      0
APPROX_COST_FOR_TWO_PEOPLE    0
REVIEWS_LIST                  0
MENU_ITEM                     0
LISTED_IN_TYPE                0
LISTED_IN_CITY                0
dtype: int64

# Checking is there duplicate values

In [54]:
data.duplicated().sum()  # no duplicates so no need to drop it

np.int64(0)

# Check for some more transformations

In [109]:
data['ONLINE_ORDER'] # need to convert this into numeric

0        Yes
1        Yes
2        Yes
3         No
4         No
        ...
51712     No
51713     No
51714     No
51715     No
51716     No
Name: ONLINE_ORDER, Length: 51717, dtype: object

In [112]:
data['ONLINE_ORDER'] = data['ONLINE_ORDER'].apply(lambda x : 1 if x == 'Yes' else 0)
data['ONLINE_ORDER']

0        1
1        1
2        1
3        0
4        0
        ..
51712    0
51713    0
51714    0
51715    0
51716    0
Name: ONLINE_ORDER, Length: 51717, dtype: int64

# Saving Cleaned data in csv file or in excel sheet

In [114]:
data.to_csv("Cleaned_zomato_dataset.csv",index = False)

# To it in Excel sheet you need install openpyxl

In [115]:
!pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

[notice] A new release of pip is available: 25.0 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [116]:
data.to_excel("Cleaned_zomato_dataset.xlsx",index = False)