In [1]:
import pandas as pd

In [2]:
import os
print(os.path.exists(r'D:\python practice\dataset')) #checking file exist or not

True

In [3]:
df = pd.read_csv('Airbnb_Open_Data.csv')
df.head(3)

C:\Users\swami\AppData\Local\Temp\ipykernel_6308\2125402093.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Airbnb_Open_Data.csv')

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN

In [4]:
#getting column names
print(df.columns)

# Get Number of columns present in the dataset
df.shape[1]

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

26

In [5]:
# general info of datasets
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

In [6]:
#counting NA records in each columns
df.isna().sum()

id                                     0
NAME                                 250
host id                                0
host_identity_verified               289
host name                            406
neighbourhood group                   29
neighbourhood                         16
lat                                    8
long                                   8
country                              532
country code                         131
instant_bookable                     105
cancellation_policy                   76
room type                              0
Construction year                    214
price                                247
service fee                          273
minimum nights                       409
number of reviews                    183
last review                        15893
reviews per month                  15879
review rate number                   326
calculated host listings count       319
availability 365                     448
house_rules                        52131
license                           102597
dtype: int64

# From above we can see that license column has too many NA records we need to do
""" Deleting redundant columns.
    Renaming the columns.
    Dropping Duplicates.
    Cleaning individual columns.
    Remove the NaN values from the dataset
    Check for some more Transformation"""

# Deleting redundant columns.

In [7]:
df.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

In [8]:
columns_to_keep = [ 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review']
columns_to_drop = ['id','reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license']
print(f"Number of columns to keep : {len(columns_to_keep)}")
print(f"Number of columns to drop : {len(columns_to_drop)}")

Number of columns to keep : 19
Number of columns to drop : 7

In [9]:
# 1st method Filtering data
new_df = df[columns_to_keep]
new_df

,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review
0,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021
1,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022
2,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,US,True,flexible,Private room,2005.0,$620,$124,3.0,0.0,NaN
3,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,US,True,moderate,Entire home/apt,2005.0,$368,$74,30.0,270.0,7/5/2019
4,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,11/19/2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102594,Spare room in Williamsburg,12312296767,verified,Krik,Brooklyn,Williamsburg,40.70862,-73.94651,United States,US,False,flexible,Private room,2003.0,$844,$169,1.0,0.0,NaN
102595,Best Location near Columbia U,77864383453,unconfirmed,Mifan,Manhattan,Morningside Heights,40.80460,-73.96545,United States,US,True,moderate,Private room,2016.0,$837,$167,1.0,1.0,7/6/2015
102596,"Comfy, bright room in Brooklyn",69050334417,unconfirmed,Megan,Brooklyn,Park Slope,40.67505,-73.98045,United States,US,True,moderate,Private room,2009.0,$988,$198,3.0,0.0,NaN
102597,Big Studio-One Stop from Midtown,11160591270,unconfirmed,Christopher,Queens,Long Island City,40.74989,-73.93777,United States,US,True,strict,Entire home/apt,2015.0,$546,$109,2.0,5.0,10/11/2015
102598,585 sf Luxury Studio,68170633372,unconfirmed,Rebecca,Manhattan,Upper West Side,40.76807,-73.98342,United States,US,False,flexible,Entire home/apt,2010.0,"$1,032",$206,1.0,0.0,NaN

In [10]:
# 2nd Method, Dropping Columns
df.drop(columns = columns_to_drop,inplace = True)
df

,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review
0,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021
1,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022
2,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,US,True,flexible,Private room,2005.0,$620,$124,3.0,0.0,NaN
3,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,US,True,moderate,Entire home/apt,2005.0,$368,$74,30.0,270.0,7/5/2019
4,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,11/19/2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102594,Spare room in Williamsburg,12312296767,verified,Krik,Brooklyn,Williamsburg,40.70862,-73.94651,United States,US,False,flexible,Private room,2003.0,$844,$169,1.0,0.0,NaN
102595,Best Location near Columbia U,77864383453,unconfirmed,Mifan,Manhattan,Morningside Heights,40.80460,-73.96545,United States,US,True,moderate,Private room,2016.0,$837,$167,1.0,1.0,7/6/2015
102596,"Comfy, bright room in Brooklyn",69050334417,unconfirmed,Megan,Brooklyn,Park Slope,40.67505,-73.98045,United States,US,True,moderate,Private room,2009.0,$988,$198,3.0,0.0,NaN
102597,Big Studio-One Stop from Midtown,11160591270,unconfirmed,Christopher,Queens,Long Island City,40.74989,-73.93777,United States,US,True,strict,Entire home/apt,2015.0,$546,$109,2.0,5.0,10/11/2015
102598,585 sf Luxury Studio,68170633372,unconfirmed,Rebecca,Manhattan,Upper West Side,40.76807,-73.98342,United States,US,False,flexible,Entire home/apt,2010.0,"$1,032",$206,1.0,0.0,NaN

# Renaming the columns

In [120]:
data = pd.read_csv('Airbnb_Open_Data.csv')

C:\Users\swami\AppData\Local\Temp\ipykernel_6308\3936407181.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('Airbnb_Open_Data.csv')

In [121]:
data.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

In [122]:
data.rename(columns = str.upper,inplace=True )  #converting column name to upper case
print(data.columns)
# now replacing space " " with underscore "_" using map
data.columns =  data.columns.map(lambda col : col.replace(" ","_"))
print(data.columns)

Index(['ID', 'NAME', 'HOST ID', 'HOST_IDENTITY_VERIFIED', 'HOST NAME',
       'NEIGHBOURHOOD GROUP', 'NEIGHBOURHOOD', 'LAT', 'LONG', 'COUNTRY',
       'COUNTRY CODE', 'INSTANT_BOOKABLE', 'CANCELLATION_POLICY', 'ROOM TYPE',
       'CONSTRUCTION YEAR', 'PRICE', 'SERVICE FEE', 'MINIMUM NIGHTS',
       'NUMBER OF REVIEWS', 'LAST REVIEW', 'REVIEWS PER MONTH',
       'REVIEW RATE NUMBER', 'CALCULATED HOST LISTINGS COUNT',
       'AVAILABILITY 365', 'HOUSE_RULES', 'LICENSE'],
      dtype='object')
Index(['ID', 'NAME', 'HOST_ID', 'HOST_IDENTITY_VERIFIED', 'HOST_NAME',
       'NEIGHBOURHOOD_GROUP', 'NEIGHBOURHOOD', 'LAT', 'LONG', 'COUNTRY',
       'COUNTRY_CODE', 'INSTANT_BOOKABLE', 'CANCELLATION_POLICY', 'ROOM_TYPE',
       'CONSTRUCTION_YEAR', 'PRICE', 'SERVICE_FEE', 'MINIMUM_NIGHTS',
       'NUMBER_OF_REVIEWS', 'LAST_REVIEW', 'REVIEWS_PER_MONTH',
       'REVIEW_RATE_NUMBER', 'CALCULATED_HOST_LISTINGS_COUNT',
       'AVAILABILITY_365', 'HOUSE_RULES', 'LICENSE'],
      dtype='object')

# Dropping Duplicates

In [123]:
# Dulicated or not values counting
print(data.duplicated().value_counts())

# Total duplicated rows
print(data.duplicated().sum())

data.shape

False    102058
True        541
Name: count, dtype: int64
541

(102599, 26)

In [124]:
# Dropping duplicated rows
data.drop_duplicates(inplace =True)
print(data.duplicated().sum()) #verifying
data.shape

0

(102058, 26)

# Removing the NA values from the dataset

In [125]:
data.isna().sum() #column wise na values count

ID                                     0
NAME                                 250
HOST_ID                                0
HOST_IDENTITY_VERIFIED               289
HOST_NAME                            404
NEIGHBOURHOOD_GROUP                   29
NEIGHBOURHOOD                         16
LAT                                    8
LONG                                   8
COUNTRY                              532
COUNTRY_CODE                         131
INSTANT_BOOKABLE                     105
CANCELLATION_POLICY                   76
ROOM_TYPE                              0
CONSTRUCTION_YEAR                    214
PRICE                                247
SERVICE_FEE                          273
MINIMUM_NIGHTS                       400
NUMBER_OF_REVIEWS                    183
LAST_REVIEW                        15832
REVIEWS_PER_MONTH                  15818
REVIEW_RATE_NUMBER                   319
CALCULATED_HOST_LISTINGS_COUNT       319
AVAILABILITY_365                     448
HOUSE_RULES                        51842
LICENSE                           102056
dtype: int64

In [126]:
# we are droping LAST_REVIEW column
data.drop(columns = ['LAST_REVIEW'],inplace=True)
data.shape

(102058, 25)

# Dropping NA 
As our data has so many rows which contain at least one na values so we can't directly use dropna()

In [128]:
data = data.apply(data.select_dtypes(include=['object']).fillna("No record"))

(102058, 14)

In [129]:

# Filling NA with mean by handling non number columns
data = data.fillna(data.select_dtypes(include=['number']).mean())
data

,NAME,HOST_IDENTITY_VERIFIED,HOST_NAME,NEIGHBOURHOOD_GROUP,NEIGHBOURHOOD,COUNTRY,COUNTRY_CODE,INSTANT_BOOKABLE,CANCELLATION_POLICY,ROOM_TYPE,PRICE,SERVICE_FEE,HOUSE_RULES,LICENSE
0,Clean & quiet apt home by the park,unconfirmed,Madaline,Brooklyn,Kensington,United States,US,False,strict,Private room,$966,$193,Clean up and treat the home the way you'd like...,No record
1,Skylit Midtown Castle,verified,Jenna,Manhattan,Midtown,United States,US,False,moderate,Entire home/apt,$142,$28,Pet friendly but please confirm with me if the...,No record
2,THE VILLAGE OF HARLEM....NEW YORK !,No record,Elise,Manhattan,Harlem,United States,US,True,flexible,Private room,$620,$124,"I encourage you to use my kitchen, cooking and...",No record
3,No record,unconfirmed,Garry,Brooklyn,Clinton Hill,United States,US,True,moderate,Entire home/apt,$368,$74,No record,No record
4,Entire Apt: Spacious Studio/Loft by central park,verified,Lyndon,Manhattan,East Harlem,United States,US,False,moderate,Entire home/apt,$204,$41,"Please no smoking in the house, porch or on th...",No record
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102053,Cozy bright room near Prospect Park,unconfirmed,Mariam,Brooklyn,Flatbush,United States,US,True,moderate,Private room,$696,No record,Shoes off Clean After yourself Turn Lights and...,No record
102054,Private Bedroom with Amazing Rooftop View,verified,Trey,Brooklyn,Bushwick,United States,US,False,flexible,Private room,$909,No record,#NAME?,No record
102055,Pretty Brooklyn One-Bedroom for 2 to 4 people,verified,Michael,Brooklyn,Bedford-Stuyvesant,United States,US,True,moderate,Entire home/apt,$387,No record,* Check out: 10am * We made an effort to keep ...,No record
102056,Room & private bathroom in historic Harlem,unconfirmed,Shireen,Manhattan,Harlem,United States,US,True,strict,Private room,$848,No record,Each of us is working and/or going to school a...,No record
102057,Rosalee Stewart,verified,Stanley,Manhattan,Harlem,United States,US,False,flexible,Entire home/apt,"$1,128",No record,Please remember that this is a residential bui...,No record

# Removing '$' sign from price field

In [133]:
print("Before cleaning 'PRICE' columns: ")
data['PRICE']

Before cleaning 'PRICE' columns:

0           $966
1           $142
2           $620
3           $368
4           $204
           ...
102053      $696
102054      $909
102055      $387
102056      $848
102057    $1,128
Name: PRICE, Length: 102058, dtype: object

In [134]:
print("After cleaning 'PRICE' columns: ")
data['PRICE'] = data['PRICE'].str.replace("$","")
data['PRICE']

After cleaning 'PRICE' columns:

0           966
1           142
2           620
3           368
4           204
           ...
102053      696
102054      909
102055      387
102056      848
102057    1,128
Name: PRICE, Length: 102058, dtype: object

In [135]:
print("Now we need to remove comma ")
data['PRICE'] = data['PRICE'].astype(str)
data['PRICE'] = data['PRICE'].str.replace(",", "", regex=True)
print(data['PRICE']) #verifying

Now we need to remove comma
0          966
1          142
2          620
3          368
4          204
          ...
102053     696
102054     909
102055     387
102056     848
102057    1128
Name: PRICE, Length: 102058, dtype: object

In [136]:

print("Type of data: ",type(data['PRICE'][1]))
print("We need to convert it to numeric type")
data['PRICE']=pd.to_numeric(data['PRICE'],errors='coerce')
data['PRICE'] = data['PRICE'].fillna(0).astype(int)
type(data['PRICE'][1] )

Type of data:  <class 'str'>
We need to convert it to numeric type

numpy.int64

In [137]:

data.to_csv("Airbnb_Cleaned_DATA",index = False)